<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <!-- Handlebar sólo existe para que no me reviente el codigo -->
</head>
<body>
    {{{body}}}  <!-- Handlebar sólo existe para que no me reviente el codigo -->
</body>
</html>